body {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-60deg, #F8A442, #f7dabe, #e36b13);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Sans', sans-serif;  
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
img:hover{
    opacity: 90%;
}
.font{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Sans', sans-serif;  
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
p{
    cursor:pointer;
}
p:hover{
    opacity: 30%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* NAV BAR */
nav{
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

.checkbtn{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}

@media (max-width:925px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
        padding-right: 0;

    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -200px;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        line-height: 80px;
    }
    nav ul li{
        font-size: 20px;

    }
    #check:checked ~ ul{
        left: 0px;
        background-color:#f7dabe;
    }
    /* #check ~ ul{
        left: -200px;
    } */
}

/* nav{
    display: flex;
    flex-direction: row;
    padding-top: 2em;
} */


/* .logo{
    flex: 1;
    padding-left: 2em;
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex: 4;
}

nav li{
    list-style: none;
}

nav li a{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
} */

/* profile pic */
.continer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.profilePic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.name{
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0px;
}

.profession{
    margin: 0;
}

.profilePic img{
    margin-top: 50vh;
    border-radius: 50%;
    height: 30VH;
    width: 30VH;
}

.socialMedia{
    width: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.download {
    margin-top: 40px;
}
.download a{
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.socialMedia i{
    margin: 0px 15px ;
}

nav ul li :hover{
    background-color: #F8A442;
    color: white;
}

.download a:hover{
    background-color: #F8A442;
    color: white;
}








/* ABOUT PAGE */

.aboutContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 50px;
    margin: 8% 8%;
    background-color: #F7DABE;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 20%;
}

.title{
    font-weight: 800;
    font-size: x-large;
}

.line{
    margin-top: -20px;
    width: 25%;
    height: 2px;
    background-color: #e36b13;
}


/* aboutsection 1 */

/* aboutsection 1 - about info */

.aboutinfo{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.aboutSec1{
    display: flex;
}

.aboutPic img{
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;

}

/* aboutsection 1 - personal info */

.info i{
    color: #f0f6fd;
}

.infoCards{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
 .cards{
    height: fit-content;
    color: #f0f6fd;
    display: grid;
    padding: 5px;
    background-color: #e36b13;
    border-radius: 5px;
    font-weight: 400;
 }
 .info{
    display: flex;
    width: 100%;
 }
 .info i{
    margin: 0;
 }
 .info p{
    margin-left: 30px;
 } 
 .aboutIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
 }

.skillLevel{
    width: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    margin: 10px 30px;
    height: fit-content;

}
.skill{
}

.backBar{
    background-color: #f0f6fd;
    width: 100%;
    height: 10px;
}

.bar1{
    width: 90%;
    height: 10px;
    background-color: #e36b13;
}
.bar2{
    width: 80%;
    height: 10px;
    background-color: #e36b13;
}
.bar3{
    width: 30%;
    height: 10px;
    background-color: #e36b13;
}
.bar4{
    width: 30%;
    height: 10px;
    background-color: #e36b13;
}
.bar5{
    width: 80%;
    height: 10px;
    background-color: #e36b13;
}

@media (max-width:858px){
    .aboutSec1{
        flex-direction: column;
    }
    .aboutPic{
        display: flex;
        justify-content: center;
    }
    .content{
        padding: 0;
    }
    .infoCards{
        grid-template-columns: 1fr;
    }
}



/* contact page */
/* .section2{
    display: flex;
    justify-content: center;
}
.contact_container{
    width: 50%;
    height: fit-content;
    margin: 10%;
    background-color: #F7DABE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
form{
    width: 30%;
}
.nameBox{

    width: 100%;
    border: none;
    padding: 5px 10px;
    margin: 10px 0px;
}
.mailBox{
    width: 100%;
    border: none;
    padding: 5px 10px;
    margin: 10px 0px;
}
.msgBox{
    width: 105%;
    border: none;
    height: 100px;
}
.btn{
    display: flex;
    justify-content: center;
}
.subBtn{
    background-color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0px;
    font-weight: 500;
}
.subBtn:hover{
    background-color: #F8A442;
    color: white;
} */


/* contact Section */

.contactSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}
.contactContent{
    width: 80%;
    height: 80vh;
    background-color:#F7DABE;
    margin-top: 80px;
}

form{
    margin-top: 8rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    margin-left: 20%;
    justify-content: center;
}
form label{
    letter-spacing: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.contactItem{
    width: 100%;
    display: flex;
    justify-content: left;    
}
.inputBox {

    position: relative;
  
    width: fit-content;
  
  }
  .inputBox input {

    width: 70%;
  
    padding: 10px;
  
    border: 1px solid rgb(255, 255, 255, 0.7);
  
    background:#F7DABE;
  
    border-radius: 5px;
  
    outline: none;
  
    color: black;
  
    font-size: 1em;
  
    transition: 0.5s;
  
  }
  
  .inputBox span {
  
    position: absolute;
  
    left: 0;
  
    padding: 10px;
  
    pointer-events: none;
  
    font-size: 1.1em;
  
    letter-spacing: 0.2em;
  
    color: white;
  
    text-transform: uppercase;
  
    transition: 0.5s;

    font-weight: 600;
  
  }
  
  .inputBox input:valid ~ span,
  
  .inputBox input:focus ~ span {
  
    color:rgb(50, 62, 85); 
    /* green #75e44f */
  
    transform: translateX(10px) translateY(-7px);
  
    font-size: 0.65em;
  
    padding: 0 10px;
  
    background: #F8A442;
  
    border-left: 1px solid #F8A442;
  
    border-right: 1px solid #F8A442;
  
    letter-spacing: 0.2em;

  
  }
  
  .inputBox:nth-child(2) input:valid ~ span,
  
  .inputBox:nth-child(2) input:focus ~ span {
  
    background: #F8A442;
  
    color: rgb(50, 62, 85);
  
    border-radius: 2px;
  
  }
  
  .inputBox input:valid,
  
  .inputBox input:focus {
  
    border: 1px solid #F8A442;
  
  }

.btn{
    display: flex;

}
.subBtn{
    background-color: white;
    color: #F7DABE;
    border: none;
    padding: 10px 20px;
    margin: 10px 0px;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 5px;
}
.subBtn:hover{
    background-color: #F8A442;
    color: white;
}